body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #2193b0, #6dd5ed);

    display: flex;
    justify-content: center;   
    align-items: center;    
    height: 100vh;             
}

.container {
    text-align: center;
}

h1 {
    color: white;
}

p {
    color: #e0e0e0;
}

input {
    padding: 12px;
    width: 300px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
}